@* define model *@
@model List<Item>

@* define viewdata *@
@{
    ViewData["Title"] = "Items List";
}

<!DOCTYPE html>

<html>
<head>
    @* <title>title</title> *@
</head>
<body>
<div>

</div>
</body>
</html>