<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FoodOrderingWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/FoodOrderingWebApp.styles.css" asp-append-version="true"/>
    
    @* Google Fonts *@
    @* Inknut Font *@
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap" rel="stylesheet">
    
    @* Nobile Font *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nobile:wght@400;700&display=swap" rel="stylesheet">
    
    @* Font Awesome *@
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<header>
    <nav class="navbar navbar-dark text-white navbar-expand-sm navbar-toggleable-sm">
        <div class="container-fluid nav-content">
            <a class="navbar-brand d-flex justify-content-center align-items-center" asp-area="" asp-controller="Home" asp-action="Index">AYU</a>
            
            <div class="d-flex align-items-center">
                <form action="#" class="search-bar d-flex">
                    <input type="search"    id="nav-search" class="form-search" placeholder="Search...">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="text-white"></span>
                    <span class="text-white"></span>
                    <span class="text-white"></span>
                </button>
            </div>
            <div class="navbar-collapse d-sm-flex flex-column justify-content-center collapse align-items-center justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link"><i class="fa-regular fa-user"></i>Connect</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Link</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav-features container-fluid d-flex justify-content-between">
            <a href="#">
                <i class="fa-solid fa-map-location-dot"></i>
            </a>
            <a href="#">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
    </nav>
</header>
<div class="page">
    <main role="main" class="">
        @RenderBody()
    </main>
</div>
<footer>
    <h1>Footer</h1>

</footer>
@* <footer class="border-top footer text-muted"> *@
@*     <div class="container-fluid col-12 row"> *@
@*         <div class="col-6"> *@
@*             <h2>Information</h2> *@
@*             <a href="#">Careers</a> *@
@*             <a href="#">Couriers</a> *@
@*             <a href="#">Buisness</a> *@
@*         </div> *@
@*         <div class="col-6"> *@
@*             <h2>Links</h2> *@
@*             <a href="#">About Us</a> *@
@*             <a href="#">Q&A</a> *@
@*             <a href="#">Blog</a> *@
@*             <a href="#">Contact Us</a> *@
@*             <a href="#">Security</a> *@
@*         </div> *@
@*         <div class="col-12"> *@
@*             <h2>Social Media</h2> *@
@*             <div class="social-links"> *@
@*                  *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </footer> *@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>