<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FoodOrderingWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/FoodOrderingWebApp.styles.css" asp-append-version="true"/>
    
    @* Google Fonts *@
    @* Inknut Font *@
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap" rel="stylesheet">
    
    @* Nobile Font *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nobile:wght@400;700&display=swap" rel="stylesheet">
    
    @* Font Awesome *@
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body> 
<header>
    <nav class="navbar navbar-dark text-white navbar-expand-sm navbar-toggleable-sm page-item">
        <div class="container-fluid px-lg-5 nav-content col-12 row-cols-sm-auto">
            <div class="logo col-sm-2">
                <a class="navbar-brand d-none justify-content-center align-items-center" asp-area="" asp-controller="Home" asp-action="Index">AYU</a>
            </div>
            
            <div class="navigate d-flex align-items-center">
                <form action="#" class="location-bar d-none d-lg-flex">
                    <button type="submit">                <i class="fa-solid fa-map-location-dot"></i></button>
                    <input type="search" id="location-search" placeholder="Search City...">
                </form>
                <form action="#" class="search-bar d-flex">
                    <input type="search" id="nav-search" class="form-search" placeholder="Search Food...">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="text-white"></span>
                    <span class="text-white"></span>
                    <span class="text-white"></span>
                </button>
            </div>
            
            <div class="navbar-collapse d-sm-flex flex-column flex-sm-row collapse">
                <ul class="navbar-nav d-flex justify-content-end">
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fa-regular fa-user"></i>Connect</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Link</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Link</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link d-none d-lg-block">
                            <i class="fa-solid fa-cart-shopping d-none d-lg-inline-block"></i>Cart
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav-features container-fluid px-lg-5 d-flex justify-content-between">
            <a class="d-lg-none" href="#">
                <i class="fa-solid fa-map-location-dot"></i>
            </a>
            <a class="d-lg-none" href="#">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
    </nav>
</header>
<div class="page">
    <main role="main" class="">
        @RenderBody()
    </main>
</div>
<footer class="col-12 row gx-0 px-lg-5">
    <div class="col-5">
         <h2>Information</h2>
         <a href="#">Careers</a>
         <a href="#">Couriers</a>
         <a href="#">Buisness</a>
    </div>
    <div class="col-5">
         <h2>Links</h2>
         <a href="#">About Us</a>
         <a href="#">Q&A</a>
         <a href="#">Blog</a>
         <a href="#">Contact Us</a>
         <a href="#">Security</a>
    </div>
    <div class="col-12 social-media">
         <h2>Social Media</h2>
        <div class="social-links">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>