@{
    ViewData["Title"] = "noob";
}

@* <video class="video-bg" src="Images/pexel.mp4"muted loop autoplay></video> *@

<section class="showcase">
    
    <div class="slogan container-fluid">
        <h1><span>Your</span> Delivery</h1>
        <h1><span>Our</span> Priority</h1>
    </div>
    
    <div class="main-categories">
        <div class="item">
            <span>Restaurante</span>
        </div>
        <div class="item">
            <span>Bauturi</span>
        </div>
        <div class="item">
            <span>Oferte</span>
        </div>
    </div>
</section>
<section class="food-categories container-fluid">
    <header>
        <h1>Categories</h1>
    </header>
    <div class="food-categories-container scroll-menu container">
        <a class="item">
            <span>Item</span>
        </a>
        <a class="item">
            <span>Item</span>
        </a>
        <a class="item">
            <span>Item</span>
        </a>
        <a class="item">
            <span>Item</span>
        </a>
        <div class="item">
            <span>Item</span>
        </div>
    </div>
</section>
<section class="cities container-fluid">
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
</section>

