@{
    ViewData["Title"] = "noob";
}

@* <video class="video-bg" src="Images/pexel.mp4"muted loop autoplay></video> *@

<section class="showcase">
    <video class="video-bg d-none d-lg-block position-absolute" src="Images/da.mp4" muted loop autoplay></video>
    <div class="slogan container-fluid px-lg-5">
        <h1><span>Your</span> Delivery</h1>
        <h1><span>Our</span> Priority</h1>
    </div>

    <div class="main-categories col-12 justify-content-center justify-content-xl-evenly row gx-0 gap-3">
        <div class="item col-12 col-sm-4 col-xl-3">
            <span>Restaurante</span>
        </div>
        <div class="item col-12 col-sm-4 col-xl-3">
            <span>Pruducts</span>
        </div>
        <div class="item col-12 col-sm-4 col-xl-3">
            <span>Oferte</span>
        </div>
    </div>
</section>
<section class="food-categories container-fluid px-lg-5">
    <header>
        <h1>Categories</h1>
    </header>
    <div class="food-categories-container scroll-menu container-fluid px-lg-5">
        <a class="item">
            <span>Item</span>
        </a>
        <a class="item">
            <span>Item</span>
        </a>
        <a class="item">
            <span>Item</span>
        </a>
        <a class="item">
            <span>Item</span>
        </a>
        <div class="item">
            <span>Item</span>
        </div>
        <div class="item">
            <span>Item</span>
        </div>
    </div>
</section>
<section class="cities container-fluid px-lg-5">
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
    <a href="#">City</a>
</section>

